@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo:wght@500;700&family=Indie+Flower&family=League+Gothic&family=Lobster&family=Noto+Kufi+Arabic:wght@700;800;900&family=ZCOOL+QingKe+HuangYou&display=swap');


*{
    font-family: 'Cairo', sans-serif;
    /* font-family: 'League Gothic', sans-serif; */
    /* font-family: 'Bebas Neue', cursive; */
    /* font-family: ZCOOL; */
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    transition: .7s ease;
    transform: .7s ease;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;      /* hide the horizental scroll bar */ 
}

header{
    background-color: #091124;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1px 7px 1px 7px ;
    color: #f2f2f2;
    position: fixed;
    z-index: 1000;
}

header .name-logo{
    display:flex;
    flex-direction: row;    
}

header .name-logo h1{
    font-size: 1.9em;
}

header .name-logo img{
    margin-top: 7px;
    margin-right: 5px;
    padding-bottom: 0px;
    width: fit-content;
}

.name-logo-text{
    text-align: center;
    justify-content: center;    
}

.navigation{
    margin-top: 6px;
    display: flex;
    /* justify-content:right; */
    text-align: center;
    transition: .7s ease;
}

.navigation a{
    text-decoration: none;
    color: #f2f2f2;
    padding-top: 7px;
    font-size: 1.2em;
}

.navigation h2{
    color: #f2f2f2;
    padding: 7px 17px 0px 17px;
    font-size: 1.2em;
}

.navigation a:hover{
    color: #8c919c;
    font-size: 1.25em   ;
}

.home{
    background: url(images/Contact2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-main-text{
    color: #2f2a26;
    /* -webkit-text-stroke: .1px #f2f2f2; */
    font-size: 3em;
    text-align: center;
    font-weight: 4000;
    background-color: rgba(121, 121, 121, 0.6);
    color: #f2f2f2;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    -webkit-text-stroke: .2px #091124;
    transition: .7s ease;
    font-family: 'Noto Kufi Arabic', sans-serif;
}

.home-main-text:hover{
    /* color: #2f2a26; */
    font-size: 3.5em;
    /* background-color: rgba(121, 121, 121, 0.4); */
    -webkit-text-stroke: .1px #f2f2f2;
}

.contactDetails{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contactDetails .indvCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    max-width: 300px;
    min-width: 300px;
}

.contactDetails .indvCard:hover{
    transform: scale(.9);
    z-index: 1000000;
}

.contactDetails .indvCard img{
    min-width: 70px;
    padding: 15px;

    /* align-self: center; */
}

.contactDetails .indvCard .text{
    font-weight: lighter;
    font-size: 16px;
}

.ourOffices{
    background-color: white;
}

.ourOffices .container{
    text-align: center;
    padding-top: 15px;
}

.ourOffices .container .addresses{
    display: flex;
    flex-direction: row;
}

.ourOffices .container .left{
    width: 50%;
}

.ourOffices .container .right{
    width: 50%;
}

.ourOffices .container .adcard{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
    padding-left: 15px;
}

/* Fooooooooooooter */

.footer-basic {
    padding:40px 0;
    background-color:#091124;
    color:#f2f2f2   ;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  footer{
    display: flex;
    flex-direction: column;
  }
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

  footer .list-inline{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }





  @media (max-width:1023px){
    header .name-logo h1{
        font-size: 0em;
        margin-top: 12px;
    }

    .navigation{
        margin-top: 14px;
    }

    .navigation a{
        font-size: 1.1em;
    }


    header .name-logo img{
        margin-top: 14px;
    }
    header .name-logo{
        vertical-align: middle;
        transition: .7s ease;
    }
    .navigation a:hover{
        color: #8c919c;
        font-size: 1.15em;
    }
    .navigation h2{
        color: #f2f2f2;
        padding: 7px 12px 0px 12px;
        font-size: 1.1em;
    }
    .home-main-text{
        font-size: 2em;
        /* font-weight: 100; */
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
    }
    
    .home-main-text:hover{
        font-size: 2.3em;
    }

    .home a{
        font-size: 1.5em;
        padding: 3px 9px 3px 9px;  
        margin-top: 50px;
        border-radius: 15px;
    }
    
    .home a:hover{
        font-size: 1.7em;
    }

    .who-main .text img{
        width: 320px;
        margin: 0 0 0 0;
        padding: 0 0 5px 0;
    }
    /* -------------- */

    .contactDetails{
        background-color: #f2f2f2;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .contactDetails .indvCard{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: white;
        border-radius: 30px;
        padding: 20px;
        max-width: 200px;
        min-width: 200px;
    }
    
    .contactDetails .indvCard:hover{
        transform: scale(.8);
        z-index: 1000000;
    }
    
    .contactDetails .indvCard img{
        width: 60px;
        padding: 10px;
    
        /* align-self: center; */
    }
    
    .contactDetails .indvCard .text{
        font-weight: lighter;
        font-size: 12px;
    }
    
    .contactDetails .indvCard h3{
        font-size: 15px;
    }
}

@media (max-width:676px){
    header .name-logo h1{
        font-size: 0em;
        margin-top: 12px;
    }

    .navigation{
        margin-top: 14px;
    }

    .navigation a{
        font-size: .8em;
    }


    header .name-logo img{
        margin-top: 14px;
    }
    header .name-logo{
        vertical-align: middle;
        transition: .7s ease;
    }
    .navigation a:hover{
        color: #8c919c;
        font-size: 1.15em;
    }
    .navigation h2{
        color: #f2f2f2;
        padding: 7px 12px 0px 12px;
        font-size: 1.1em;
    }
    
    .home-main-text{
        font-size: 1.5em;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .home-main-text:hover{
        font-size: 1.6em;
    }

    .home a{
        font-size: 1.4em;
        padding: 3px 7px 3px 7px;  
        margin-top: 45px;
        border-radius: 12px;
    }
    
    .home a:hover{
        font-size: 1.5em;
    }

    /* -------------- */

    .contactDetails{
        background-color: #f2f2f2;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .contactDetails .indvCard{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: white;
        border-radius: 30px;
        padding: 20px;
        max-width: 110px;
        min-width: 110px;
    }
    
    .contactDetails .indvCard:hover{
        transform: scale(.8);
        z-index: 1000000;
    }
    
    .contactDetails .indvCard img{
        width: 30px;
        padding: 10px;
    
        /* align-self: center; */
    }
    
    .contactDetails .indvCard .text{
        font-weight: lighter;
        font-size: 11px;
    }
    
    .contactDetails .indvCard h3{
        font-size: 10px;
    }
    
}

