@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo:wght@500;700&family=Indie+Flower&family=League+Gothic&family=Lobster&family=Noto+Kufi+Arabic:wght@700;800;900&family=ZCOOL+QingKe+HuangYou&display=swap');


*{
    font-family: 'Cairo', sans-serif;
    /* font-family: 'League Gothic', sans-serif; */
    /* font-family: 'Bebas Neue', cursive; */
    /* font-family: ZCOOL; */
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    transition: all .7s ease-in-out;
}

/* B-TECH CODE START HERE
-------------------------*/


body {
    overflow-y: scroll;
    overflow-x: hidden;      /* hide the horizental scroll bar */ 
    display: flex;
    flex-direction: column;
}
header{
    background-color: #091124;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1px 7px 1px 7px ;
    color: #f2f2f2;
    position: fixed;
    z-index: 1000;
    vertical-align: middle;
}

header .name-logo{
    display:flex;
    flex-direction: row;    
}

header .name-logo h1{
    font-size: 1.9em;
}

header .name-logo img{
    margin-top: 7px;
    margin-right: 5px;
    padding-bottom: 0px;
    width: fit-content;
    padding-top: 5px;
}

.name-logo-text{
    text-align: center;
    justify-content: center;    
}

.navigation{
    margin-top: 6px;
    display: flex;
    /* justify-content:right; */
    text-align: center;
    transition: .7s ease;
    vertical-align: middle;
    padding-top: 10px;
}

.navigation a{
    text-decoration: none;
    color: #f2f2f2;
    padding-top: 7px;
    font-size: 1.2em;
    vertical-align: middle;
}

.navigation h2{
    color: #f2f2f2;
    padding: 7px 17px 0px 17px;
    font-size: 1.2em;
}

.navigation a:hover{
    color: #8c919c;
    font-size: 1.25em   ;
}

.content-head{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row-reverse;
    min-height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background: url(../../images/Companies/law2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.content-right{
    width: 100%;
    height: 100vh;
    background-color: rgba(9, 17, 36, .7);
    position: relative;
}

.content-right .vertical{
    color: #f2f2f2;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.content-right .title{
    font-size: 40px;
    text-align: center;
    line-height: 1.2em;
    padding: 35px;
    transition: .7s ease;
    border: dashed;
    border-color: #f2f2f2;
    border-radius: 30px;
}

.content-right .title:hover{
    box-shadow: 3px 3px 8px #091124;
    border-radius: 30px;
    transform: scale(1.2);
    background-color: rgba(9, 17, 36, .5);
}

.content-left{
    width: 00%;
}

.content-left .vertical{
    width: 150px;
    color: #091124;
    /* background-color: rgba(242, 242, 242, .1); */
    width: 100%;
    /* border: dashed; */
    /* border-color: #f2f2f2; */
}

.content-left .vertical img{
    width: 300px;
    margin-left: 120px;
    margin-right: 120px;
    padding: 20px;
    border-radius: 100px;
    overflow: hidden;
    transform: scale(1.3);
    /* border: solid #8c919c; */
}

.content-left .vertical img:hover{
    transform: scale(1.5);
    /* border: dashed #f2f2f2; */
}


.about{
    background-color: #f2f2f2;
    /* padding-top: 50px; */
    text-align: center;
}

.about .title h2{
    font-size: 20px;
    padding-top: 15px;
}

.about .title .text{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
}

.mainhrtop{
    border-top: 3px solid #091124;
    width: 50%;
    margin: auto;
}   
.mainhrBot{
    border-top: 3px dashed #091124;
    width: 40%;
    margin: auto;

}

.text p{
    font-size: 23px;
    line-height: 1.5em;
    padding-bottom: 20px;
    font-size: 1.2em;
}

.mainP .title h3{
    padding-top: 10px;
}

.partners{
    display: inline-block;
}

.partners img{
    max-width: 300px;
    padding-right: 10px;
    padding-left: 10px;
}

.products{
    background-color: white;
    /* padding-top: 50px; */
    text-align: right;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.products h3{
    font-size: 21px;
}

.products h4{
    font-size: 17px;
}

/* .products ul{
    float: right;
} */

table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
    direction: rtl;
    justify-content: center;
    margin: auto;
    
}
/* table tbody{
} */

table td {
    padding: 15px;
}
table thead td {
    background-color: #54585d;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
}
table tbody td {
    color: #636363;
	border: 1px solid #dddfe1;
}
table tbody tr {
    background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.about{
    background-color: #f2f2f2;
    /* padding-top: 50px; */
    text-align: center;
}






/* ##########################Footer##################### */

.footer-basic {
    padding:40px 0;
    background-color:#091124;
    color:#f2f2f2   ;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  footer{
    display: flex;
    flex-direction: column;
  }
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

  footer .list-inline{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }




  @media (max-width:1023px){
    header .name-logo h1{
        font-size: 0em;
        margin-top: 12px;
    }

    .navigation{
        margin-top: 14px;
    }

    .navigation a{
        font-size: 1.1em;
    }


    header .name-logo img{
        margin-top: 14px;
    }
    header .name-logo{
        vertical-align: middle;
        transition: .7s ease;
    }
    .navigation a:hover{
        color: #8c919c;
        font-size: 1.15em;
    }
    .navigation h2{
        color: #f2f2f2;
        padding: 7px 12px 0px 12px;
        font-size: 1.1em;
    }
    .home-main-text{
        font-size: 2em;
        /* font-weight: 100; */
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
    }
    
    .home-main-text:hover{
        font-size: 2.3em;
    }

    .home a{
        font-size: 1.5em;
        padding: 3px 9px 3px 9px;  
        margin-top: 50px;
        border-radius: 15px;
    }
    
    .home a:hover{
        font-size: 1.7em;
    }

    .who-main .text img{
        width: 320px;
        margin: 0 0 0 0;
        padding: 0 0 5px 0;
    }

/* --------- */

        
.content-right{
    width: 100%;
    height: 100vh;
    background-color: rgba(9, 17, 36, .7);
    position: relative;
}

.content-right .vertical{
    color: #f2f2f2;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.content-right .title{
    font-size: 40px;
    text-align: center;
    line-height: 1em;
    padding: 35px;
    transition: .7s ease;
    border: dashed;
    border-color: #f2f2f2;
    border-radius: 30px;
}

.content-right .title:hover{
    box-shadow: 3px 3px 8px #091124;
    border-radius: 30px;
    font-size: 45px;
    background-color: rgba(9, 17, 36, .5);
}

.content-left{
    width: 40%;
}

.content-left .vertical{
    width: 150px;
    color: #091124;
    /* background-color: rgba(242, 242, 242, .1); */
    width: 100%;
    /* border: dashed; */
    /* border-color: #f2f2f2; */
}

.content-left .vertical img{
    width: 150px;
    margin-left: 60px;
    margin-right: 100px;
    padding: 20px;
    border-radius: 100px;
    overflow: hidden;
    /* border: solid #8c919c; */
}

.content-left .vertical img:hover{
    transform: scale(1.1);
    /* border: dashed #f2f2f2; */
}

}

@media (max-width:676px){
    header .name-logo h1{
        font-size: 0em;
        margin-top: 12px;
    }

    .navigation{
        margin-top: 14px;
    }

    .navigation a{
        font-size: .8em;
    }


    header .name-logo img{
        margin-top: 14px;
    }
    header .name-logo{
        vertical-align: middle;
        transition: .7s ease;
    }
    .navigation a:hover{
        color: #8c919c;
        font-size: 1.15em;
    }
    .navigation h2{
        color: #f2f2f2;
        padding: 7px 12px 0px 12px;
        font-size: 1.1em;
    }
    
    .home-main-text{
        font-size: 1.5em;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .home-main-text:hover{
        font-size: 1.6em;
    }

    .home a{
        font-size: 1.4em;
        padding: 3px 7px 3px 7px;  
        margin-top: 45px;
        border-radius: 12px;
    }
    
    .home a:hover{
        font-size: 1.5em;
    }
    
/* ----------------- */
    
.content-right{
    width: 100%;
    height: 100vh;
    background-color: rgba(9, 17, 36, .7);
    position: relative;
}

.content-right .vertical{
    color: #f2f2f2;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.content-right .title{
    font-size: 25px;
    text-align: center;
    line-height: 1em;
    padding: 35px;
    transition: .7s ease;
    border: dashed;
    border-color: #f2f2f2;
    border-radius: 30px;
}

.content-right .title:hover{
    box-shadow: 3px 3px 8px #091124;
    border-radius: 30px;
    font-size: 45px;
    background-color: rgba(9, 17, 36, .5);
}

.content-left{
    width: 50%;
}

.content-left .vertical{
    width: 150px;
    color: #091124;
    /* background-color: rgba(242, 242, 242, .1); */
    width: 100%;
    /* border: dashed; */
    /* border-color: #f2f2f2; */
}

.content-left .vertical img{
    width: 150px;
    margin-left: 10px;
    margin-right: 100px;
    padding: 20px;
    border-radius: 100px;
    overflow: hidden;
    /* border: solid #8c919c; */
}

.content-left .vertical img:hover{
    transform: scale(1.1);
    /* border: dashed #f2f2f2; */
}



}





/* B-TECH CODE End HERE
-------------------------*/